# plugins modules
[submodule "plug"]
	path = plug
	url = https://github.com/Gwion/Gwion-plug
	active = false
[submodule "util"]
	path = util
	url = https://github.com/Gwion/gwion-util
	active = true
[submodule "ast"]
	path = ast
	url = https://github.com/Gwion/gwion-ast
	active = true
[submodule "libcmdapp"]
	path = libcmdapp
	url = https://github.com/euppal/libcmdapp
[submodule "fmt"]
	path = fmt
	url = https://github.com/Gwion/gwion-fmt
