name: Linux

on:
  push:
    branches:
    - '**'
    - '!gh-pages'
  pull_request:
    branches:
    - '**'
    - '!gh-pages'

jobs:
  build:
    name: Linux ${{ matrix.cc }} ${{ matrix.double && 'double' || 'float '}}
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    env:
      CC: ${{ matrix.cc }}
      USE_DOUBLE: ${{ matrix.double }}
      USE_DEBUG: 1
    strategy:
      matrix:
        cc: [gcc, clang]
        double: [0, 1]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Init submodules
      run: git submodule update --init util ast libcmdapp

    - name: Build
      run: make

    - name: Test
      run: make test
